*{
  box-sizing: border-box;
  overflow: hidden;
  background-color: #7B6E6E;
}


form{
text-align: center;
margin-top: 90px;
width: 100%
}

h1{
  text-align: center;
  margin-top: -50px;
  font-style: italic;
  font-family: cursive;

}
